*{
  font-family: "Chakra Petch",sans-serif;

}
.wrapper{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(19deg,#4B0082	,#551A8B,red);
  background-size: 400% 400%;
  z-index: 10;
  position: absolute;
  left: 0;
  text-align: center;
  top:0;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.hero{
  border-left:5px solid white;
  border-top:5px solid transparent;
  border-right:5px solid white;
  border-bottom:5px solid transparent;
  width: 50%;
  transition: 0.5s all;
  height: 200px;
  margin:0 auto;
  border-radius: 50px;
  z-index: 11!important;
  text-align: center;
  margin-top: 300px!important;
}
canvas{
  margin-top: -500px;
}
.hero-heading{
  text-align: center;
  color: white;
  letter-spacing: 2.5px;
  margin-top: 50px;
  transition: 0.3s all;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
  animation-name: initAnim;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-iteration-count:1;
}
@media only screen and (max-width:600px){
  .hero{
    width: 90%!important;
    margin-top: 200px!important;
  }.hero-heading{
    font-size: 35px;
    transition: 0.3s all;
  }.hero-sub{
    font-size: 25px;
  }
}
@keyframes initAnim{
  from{opacity: 0};
  to{opacity: 1};
}
.hero:hover{
  background-color: white;
  transition: 1s all;
}
.hero:hover>.hero-heading{
  background: linear-gradient(19deg, #4B0082,#551A8B,red);
  -webkit-background-clip: text;
  transform: scale(1.1);
  transition: 0.3s all;
  -webkit-text-fill-color: transparent;
}
.hero:hover>.typer{
  background: linear-gradient(19deg, #4B0082,#551A8B,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quote{
  display: none;
  letter-spacing: 2.5px;
  font-style: italic;
  background: linear-gradient(19deg, #4B0082,#551A8B,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat",sans-serif!important;
}
